#!/bin/bash

for i in `ps -ef | grep weka_init | grep -v grep | awk '{print $2}'`
do
    kill -9 $i
done

weka local disable client && weka local rm -f client
# weka local stop client && weka local disable client && weka local rm -f client

